---
const personalImageAlt = "José Ángel";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo <strong>José Ángel</strong>, pero mis amigos me llaman <strong>Jose</strong>. Empecé en el mundo de la programación el año pasado, cuando comencé el <strong>grado superior de Desarrollo de Aplicaciones Multiplataforma</strong>.
    </p>

    <p>
      Antes de adentrarme en el desarrollo de software, trabajé durante varios años como <strong>operario de producción</strong>, experiencia que me enseñó la importancia de la <strong>organización</strong> y el <strong>trabajo en equipo</strong>.
    </p>

    <p>
      Actualmente, estoy cursando el <strong>segundo año de mis estudios</strong> y sigo perfeccionando mis habilidades en tecnologías como <strong>Java</strong>, <strong>JavaScript</strong>, <strong>Kotlin</strong>, <strong>Flutter</strong>, <strong>Python</strong>, <strong>FireBase</strong>, <strong>SQL</strong> y <strong>Docker</strong>.
    </p>

    <p>
      Fuera del mundo de la programación, me encanta el <strong>deporte</strong>, la <strong>naturaleza</strong>, <strong>viajar</strong> y disfrutar de los <strong>videojuegos</strong>. Me considero una persona muy <strong>activa</strong> y siempre en busca de <strong>nuevos retos</strong>.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
